*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:linear-gradient(135deg,#E61A23,#b11218);
min-height:100vh;
padding:20px;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:white;
max-width:800px;
width:100%;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.logo{
width:120px;
display:block;
margin:auto;
}

h1{
text-align:center;
color:#E61A23;
margin-top:10px;
}

.subjudul{
text-align:center;
color:#666;
margin-bottom:20px;
}

label{
display:block;
margin-top:15px;
margin-bottom:8px;
font-weight:bold;
}

select,
textarea{
width:100%;
padding:12px;
border:1px solid #ddd;
border-radius:10px;
}

textarea{
height:120px;
resize:vertical;
}

button{
width:100%;
margin-top:20px;
padding:15px;
border:none;
border-radius:10px;
background:#A5D63A;
font-size:16px;
font-weight:bold;
cursor:pointer;
}
